@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0%;
 padding: 0%;
}
.alert{
  position: absolute;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
}

.mySwiper {
  width: 100%;
  height: 100%;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display: none;
}


.x-scroll::-webkit-scrollbar{
  display: none;
}

@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}
.animate-progress {
  animation: progress 3s linear forwards;
  -webkit-animation: progress 3s linear forwards;
}


.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@keyframes pulse {
  0% {
    opacity: 1;
    background-color: rgb(24, 24, 24);
  }
  50% {
    opacity: 0.4; /* More pronounced fade */
    background-color: rgb(17, 17, 17);
  }
  100% {
    opacity: 1;
    background-color: rgb(19, 19, 19);
  }
}

.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite; /* Faster pulse */
}

.chat-messages-container {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.chat-messages-container::-webkit-scrollbar {
  display: none;
}